version: "3"

tasks:
  render-kluctl:
      desc: "Commit & push changes to a branch with exponential backoff retries"
      vars:
        ENVIRONMENT: '{{.ENVIRONMENT | default "staging"}}'
      cmds:
        - |
          kluctl helm-pull
          rm -f {{.ENVIRONMENT}}.yaml
          kluctl render -t {{.ENVIRONMENT}} --print-all > {{.ENVIRONMENT}}.yaml
