name: Close Stale Issues and PRs
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:


permissions:
  issues: write
  pull-requests: write


jobs:
  stale:
    runs-on: ubuntu-24.04
    steps:
      - name: Run Stale Action
        uses: actions/stale@8f717f0dfca33b78d3c933452e42558e4456c8e7 # v9.1.0
        with:
          days-before-stale: 30
          days-before-close: 7
