name: Tests


on:
  push:
    branches:
      - main
      - dev
    paths:
      - services/**
    tags:
      - "**@[0-9]*.[0-9]*.[0-9]*" # service/something@X.Y.Z
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:
    inputs:
      version:
        description: "Version/tag to use (optional; defaults generating with git describe)"
        required: false
        type: string
        default: ''
      service:
        description: "Service to use"
        required: false
        type: string
        default: ''


# run-name: >
#   Tests •
#   ${{ github.event_name }} •
#   ${{ inputs.service || 'auto-services' }}

permissions:
  actions: write # used to trigger build workflow
  contents: read
  # contents: write


jobs:
  filter:
    runs-on: ubuntu-24.04
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - name: Paths Changes Filter
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/utils/file-filters.yaml

  run-tests:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '' }}
    needs: filter
    strategy:
      matrix:
        service: ${{ fromJson(needs.filter.outputs.services) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          # Setting fetch-depth: 0 ensure tags are fetched (so git describe works properly)
          fetch-depth: 0
      - uses: ./.github/actions/task-dep
      - uses: ./.github/actions/service-deps
        with:
          install_node: ${{ startsWith(matrix.service, 'services/frontend/') }}
          install_python: ${{ startsWith(matrix.service, 'services/backend/') }}
          service_path: ${{ matrix.service }}
      - name: Build and Run service
        if: ${{ matrix.service == 'services/frontend' }}
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: ${{ matrix.service }}/docker-compose.tests.yaml # mention the path where your docker compose file is present
          up-flags: "--build"
      - name: Install / Build tests
        working-directory: ${{ matrix.service }}
        run: |
          task install-ci
      # - name: Run pytest
      #   if: ${{ matrix.service == 'services/backend' }}
      #   uses: pavelzw/pytest-action@v2
      #   with:
      #     verbose: true
      #     emoji: true
      #     job-summary: true
      #     custom-arguments: '-q'
      #     click-to-expand: true
      #     report-title: 'Test Report'
      - name: run tests
        # if: ${{ matrix.service != 'services/backend' }}
        continue-on-error: false
        working-directory: ${{ matrix.service }}
        run: |
          task test
  build-trigger:
    if: ${{ always() && (needs.run-tests.result == 'success' || needs.run-tests.result == 'skipped') && (github.ref_type == 'tag' || ((github.event_name != 'pull_request' && (github.event_name == 'push' && github.ref_name == 'main') || (inputs.version != '' && inputs.service != ''))) && (needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '')) }} # only runs if all tests succeed
    runs-on: ubuntu-24.04
    needs: [run-tests, filter]
    strategy:
      matrix:
        service: ${{ github.ref_type == 'tag' && fromJson('["services/database"]') || fromJson(needs.filter.outputs.services) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          # Setting fetch-depth: 0 ensure tags are fetched (so git describe works properly)
          fetch-depth: 0
      - name: Trigger Build
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          # GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run build.yaml \
            -f service=${{ matrix.service }} \
            -f version=${{ inputs.version }} \
            -f event_name=${{ github.event_name }} \
            -f ref_type=${{ github.ref_type }} \
            -f ref_name=${{ github.ref_name }}
  # build-trigger:
  #   if: ${{ always() && (needs.run-tests.result == 'success' || needs.run-tests.result == 'skipped') && (github.ref_type == 'tag' || ((github.event_name != 'pull_request' && (github.event_name == 'push' && github.ref_name == 'main') || (inputs.version != '' && inputs.service != ''))) && (needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '')) }} # only runs if all tests succeed
  #   # runs-on: ubuntu-24.04
  #   needs: [run-tests, filter]
  #   strategy:
  #     matrix:
  #       service: ${{ github.ref_type == 'tag' && fromJson('["services/database"]') || fromJson(needs.filter.outputs.services) }}
  #     fail-fast: false
  #   uses: ./.github/workflows/build.yaml
  #   with:
  #     service: ${{ matrix.service }}
  #     version: ${{ inputs.version }}
  #     event_name: ${{ github.event_name }}
  #     ref_type: ${{ github.ref_type }}
  #     ref_name: ${{ github.ref_name }}
  #   secrets: inherit
  # This job gets skipped if all upstream jobs succeeded, but it runs (and fails) if any upstream failed.
  # This is what we want since GitHub required actions do not block merging when skipped, but can block it when failed.
  # See: https://github.com/actions/runner/issues/2566#issuecomment-3053484216
  run-tests-failure-alert:
    runs-on: ubuntu-latest
    needs: [filter, run-tests]
    if: ${{ cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}
    steps:
      - name: Conditionally Fail Required Check
        shell: bash
        run: |
          echo "::error Some required job has failed!"
          exit 1
  run-tests-result:
    name: Tests / run-tests-result       # This is the stable name your branch rule will see
    needs: run-tests                     # Wait for all run-tests matrix jobs to finish
    if: always()                         # Always run, even if matrix jobs were skipped or failed
    runs-on: ubuntu-latest
    steps:
      - name: Fail if any matrix job failed
        run: |
          if [[ "${{ needs.run-tests.result }}" == "failure" ]]; then
            echo "::error Some tests failed"
            exit 1
          fi
