name: Tests


on:
  push:
    branches:
      - main
      - dev
    paths:
      - services/**
    tags:
      - "**@[0-9]*.[0-9]*.[0-9]*" # service/something@X.Y.Z
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:
    inputs:
      version:
        description: "Version/tag to use (optional; defaults generating with git describe)"
        required: false
        type: string
        default: ''


permissions:
  actions: write # used to trigger build workflow
  contents: read


jobs:
  filter:
    runs-on: ubuntu-24.04
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - name: Paths Changes Filter
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/utils/file-filters.yaml

  run-tests:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '' }}
    needs: filter
    strategy:
      matrix:
        service: ${{ fromJson(needs.filter.outputs.services) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
        with:
          # Setting fetch-depth: 0 ensure tags are fetched (so git describe works properly)
          fetch-depth: 0
      - uses: ./.github/actions/task-dep
      - uses: ./.github/actions/service-deps
        with:
          install_node: ${{ startsWith(matrix.service, 'services/frontend/') }}
          install_python: ${{ startsWith(matrix.service, 'services/backend/') }}
          service_path: ${{ matrix.service }}
      - name: Install / Build
        working-directory: ${{ matrix.service }}
        run: |
          task install-ci
      - name: run tests
        continue-on-error: false
        working-directory: ${{ matrix.service }}
        run: |
          task test
      - name: Trigger Build
        if: ${{ github.event_name != 'pull_request' && ((github.event_name == 'push' && github.ref_name == 'main') || github.ref_type == 'tag' || inputs.version != '') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh workflow run build.yaml \
            -f service=${{ matrix.service }} \
            -f version=${{ inputs.version }} \
            -f event_name=${{ github.event_name }} \
            -f ref_type=${{ github.ref_type }} \
            -f ref_name=${{ github.ref_name }}
  # This job gets skipped if all upstream jobs succeeded, but it runs (and fails) if any upstream failed.
  # This is what we want since GitHub required actions do not block merging when skipped, but can block it when failed.
  # See: https://github.com/actions/runner/issues/2566#issuecomment-3053484216
  run-tests-failure-alert:
    runs-on: ubuntu-latest
    needs: [filter, run-tests]
    if: ${{ cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}
    steps:
      - name: Conditionally Fail Required Check
        shell: bash
        run: |
          echo "::error Some required job has failed!"
          exit 1
